.full-modal {
  --width: 100% !important;
  --height: 100% !important;

  .transparent {
    --background: transparent;
    --border-color: transparent;
  }
  ion-header {
    ion-toolbar {
      .dismisser {
        margin: auto;
        /* margin-top: 16px; */
        margin-bottom: 16px;
        border-radius: 8px;
        height: 6px;
        width: 36px;
        background: #eae9e947;
      }
    }
  }
  ion-range {
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --bar-background: #ffffff63;

    --knob-size: 10px;
    --knob-border-radius: 8px;
    --knob-box-shadow: none;
    --knob-background: none;
    --knob-handle-size: 10px;

    --transform-value: scale3d(1, 1, 1);
    --opacity: 0.5;

    transition:
      background,
      transform 250ms ease-in-out;
    opacity: var(--opacity);

    &::part(bar-active) {
      transform: var(--transform-value);
      transition: transform 250ms ease-in-out;
    }

    &::part(bar) {
      transform: var(--transform-value);
      transition: transform 250ms ease-in-out;
    }

    &::part(knob) {
      opacity: 0;
      transform: var(--transform-value);
      transition: transform 250ms ease-in-out;

      &::before {
        opacity: 0;
      }
    }

    &.range-pressed {
      --transform-value: scale3d(1, 2, 1);
      --opacity: 1;
      &::part(knob) {
        &::before {
          opacity: 0;
        }
      }
    }

    &:focus-within {
      --transform-value: scale3d(1, 2, 1);
      --opacity: 1;
    }
  }
  ion-footer {
    ion-toolbar {
      --border-width: 0;
      @media (orientation: landscape) {
        --padding-start: calc(env(safe-area-inset-left) + 24px);
        --padding-end: calc(env(safe-area-inset-left) + 24px);
      }
      @media (orientation: portrait) {
        margin: auto;
        max-width: 85%;
        --padding-start: unset;
        --padding-end: unset;
      }
    }
  }

  ion-content {
    --background: transparent;
    --width: 100% !important;
    --height: 100% !important;
    &::part(scroll) {
      padding-bottom: 0px !important;
    }

    .modal-wrapper {
      height: 100%;
      overflow: hidden;
      width: 100%;
      z-index: 1;

      .track-player {
        height: 100%;
        width: 85%;
        margin: auto;
        z-index: 1;

        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-areas:
          'now-playing'
          'controls';

        .song-info {
          transform-origin: center center;
          width: 100%;
          grid-area: now-playing;
          z-index: 1;

          margin-left: auto;
          margin-right: auto;
          display: grid;
          grid-template-rows: calc(100% - 75px) 75px;
          grid-template-areas: 'artwork' 'title';

          ion-thumbnail {
            margin: 0 auto;
            --thumbnail-transition-duration: 500ms;
            align-self: center;

            width: 100%;
            height: 100%;
            position:relative;
            display: flex;

            .lazy-img {
              view-transition-name: thumbnail;
              --background: transparent !important;
              margin: auto;
              flex: 1;
              aspect-ratio: 1;

              max-width: 500px;
              max-height: 500px;
              width: auto;
              height: auto;


              transition: scale 250ms cubic-bezier(0.42, 0, 0.58, 1.24);
              scale: var(--scale-value);

              img {
                clip-path: inset(0 round 4%);
                object-fit: unset;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;

                &::after{
                  content: '';
                  /* position: absolute; */
                  /* top: 0; */
                  /* left: 0; */
                  width: 100%;
                  height: 100%;
                }
              }

              &.paused {
                --scale-value: 0.75;
              }
            }
          }

          ion-label {
            view-transition-name: label;
            padding: 16px 0;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            min-height: 75px;

            * {
              line-height: 1.2;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h3 {
              font-size: 1.1em;
              font-weight: 600;
            }
            p {
              font-size: 1em;
              opacity: 0.5;
            }
          }
        }
        .queue-list {
          margin-left: auto;
          margin-right: auto;
          grid-area: queue;
          display: none;
          view-transition-name: queue;
        }

        .controls-wrapper {
          width: 100%;
          grid-area: controls;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: auto;
          margin-right: auto;

          .song-actions {
            flex: initial;
            justify-content: space-evenly;
            height: 56px;
            ion-button {
              width: 70px;
              aspect-ratio: 1/1;
              height: unset;

              ion-icon {
                font-size: 48px;
              }

              .shuffle-button,
              .repeat-button {
                width: 40px;
                ion-icon {
                  font-size: 40px;
                }

                ion-badge {
                  top: 5px;
                  right: -6px;
                }
              }
            }
          }

          ion-range {
            margin-top: auto;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .duration-label {
              width: unset;
              display: unset;
              position: absolute;
              bottom: -15px;
              font-size: 0.75em;
              font-variant-numeric: tabular-nums;
              color: #ffffff;
              &[slot='start'] {
                left: 0;
                text-align: left;
              }

              &[slot='end'] {
                right: 0;
                text-align: right;
              }
            }
          }
        }
      }
    }
    .modal-wrapper.queue-active {
      .queue-list {
        display: unset;
      }
    }

    @media (orientation: portrait) {
      .modal-wrapper.queue-active {
        .lazy-img {
          --scale-value: 1 !important;
        }

        .track-player {
          grid-template-rows: 20% 50% 30%;

          grid-template-areas:
            'now-playing'
            'queue'
            'controls';
        }

        .song-info {
          gap: 0 20px;
          align-items: center;
          grid-template-columns: 18% 1fr;
          grid-template-rows: 1fr;
          grid-template-areas:
            'artwork title';


          ion-thumbnail {

            transform-origin: top left;
            .lazy-img img {
              object-position: left;
            }
          }
        }
        queue-list {
          ion-badge {
            top: 3px;
            right: -7px;
          }
        }
      }
    }

    @media (orientation: landscape) {
      .modal-wrapper {
        .track-player {
          width: 100%;
          max-width: unset;
          grid-template-columns: 1fr minmax(45%, 500px) 1fr;
          grid-template-rows: unset;
          grid-template-areas:
            '. now-playing .'
            '. controls .';

          .song-info {
            view-transition-name: song-info;
          }
          .controls-wrapper {
            view-transition-name: controls;
          }
          .song-info,
          .controls-wrapper {
            width: 85%;
            max-width: 500px;
          }
        }
      }

      .modal-wrapper.queue-active {
        .track-player {
          grid-template-columns: minmax(45%, 500px) auto;
          grid-template-areas:
            'now-playing queue'
            'controls    queue';
        }
      }
    }
  }
}
